.hero{
    margin-top: 100px;
    .hero-card{
        display: flex;
        
        flex-wrap: wrap;
        justify-content: center;
            align-items: center ;
        .hero-asset{
            transition: 0.5 ease-in-out;
          
           padding: 20px;
        cursor: pointer;
           flex-direction: column;
            margin: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center ;
            img{
                max-width:250px;
                max-height:auto;
                margin: 20px;
                border-radius: 5px;
               
            }
            h3{

            }
        }
        .hero-asset:hover{
            border-top: 1px solid rgba(17, 17, 17, 0.061);
            border-left: 1px solid rgba(17, 17, 17, 0.061);
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.267);
            border-radius: 5px;
            // & img{
            //     transform: scale(1.1);
            // }
        }
    }
}