@import '../../sass/variables';
@import '../../sass/mixins';
.category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
   align-items: center;
    margin-top: 100px;
    justify-content: flex-start;

    .categories{
        display: flex;
        flex-wrap: wrap;
        height: 30vh;
        justify-content: center;
        align-items: flex-start;
        li{
            list-style: none;
          
            margin-left: 20px;
            font-size: 22px;
            margin-top: 25px;
            color: white;
            background-color: rgb(147, 228, 17);
            padding: 10px;
            border-radius: 8px;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color:$primary-color ;
            }
            &.active{
                background-color: $primary-color;
            }
        }
    }

    .cat{
        display: flex;

        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include respond-below(md)
{
    margin-top: 100px;
}   

@include respond-below(sm){
    margin-top: 200px;
}
     .categorized-assets{
            img{
                max-width: 250px;
                margin: 20px;
                border-radius: 5px;
                border: 1px solid $primary-color;
                padding: 10px;
                cursor: pointer;
            }
        }
    }
}