.header {
  position: fixed;
  background-color: #151613;
  width: 100%;
  top: 0;
  margin: auto;
  padding: 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 959px) {
  .header {
    width: 100%;
    padding: 0px 50px;
  }
}

@media (max-width: 639px) {
  .header {
    padding: 0px 1 00px 0px 50px;
  }
}

.header .header-left .logo img {
  margin-top: 20px;
  max-width: 40px;
  height: auto;
}

.header .header-right i {
  display: none;
  font-size: 25px;
  color: #e38b10;
}

@media (max-width: 959px) {
  .header .header-right i {
    display: block;
    margin-left: 200px;
  }
}

.header .header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 959px) {
  .header .header-right ul {
    display: none;
  }
}

.header .header-right ul li {
  list-style: none;
  margin-left: 35px;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

@media (max-width: 959px) {
  .header .header-right ul li {
    font-size: 21px;
  }
}

.header .header-right ul li:hover {
  color: #e38b10;
}

.header .header-right .hii {
  display: none;
  width: 100%;
}

.header .header-right .hii.visible {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #131212;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 9999999999;
  -webkit-animation: moveleft 0.5s linear;
          animation: moveleft 0.5s linear;
}

@-webkit-keyframes moveleft {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes moveleft {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

.header .header-right .kel {
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-animation: moveright 0.5s linear;
          animation: moveright 0.5s linear;
}

@-webkit-keyframes moveright {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

@keyframes moveright {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}
/*# sourceMappingURL=Header.css.map */